version: '3.9'
services:
  frontend:
    image: "node:16"
    working_dir: /frontend
    volumes:
      - .:/frontend
    ports:
      - "3000:3000"

  api-mock:
    image: "stoplight/prism:4"
    command: 'mock --port 4001 --host 0.0.0.0 /tmp/openapi.yml'
    volumes:
      - ./openapi.yml:/tmp/openapi.yml:ro
    ports:
      # Serve the mocked API locally as available on port 4001
      - '4001:4001'

  s3:
    image: minio/minio:RELEASE.2022-02-26T02-54-46Z
    ports:
      - "9000:9000"
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: toor1234
    entrypoint: sh
    command: -c 'mkdir -p /data/images && minio server /data --console-address=0.0.0.0:9001'
