.mainScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 73px);
}

.text {
  color: rgb(26, 26, 26);
  margin-left: 5vw;
  margin-right: 5vw;
}
