
/* TABS */
.analysis-tab-container {
  display: flex;
  position: sticky;
  top: 73px;
  z-index: 1020;
}

.analysis-tab-container > button {
  position: relative;
  flex: 1 1 auto;
}

.tab-button:hover {
  transform: scaleY(1.1) !important
}

.not-selected-tab {
  background-color: #678095 !important;
}

/* DASHBOARD */
.card {
  padding: 15px;
  height: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #e0e0e0;
  box-shadow:  10px 10px 19px #c7c7c79f, -10px -10px 19px #f9f9f9b0;
}

.chart-small {
  width: 100%;
  min-width: unset;
}

.chart-title {
  width: auto !important;
}

.single-chart-small {
  padding-left: 10px;
}

.dashboard-icon {
  width: 30px;
  height: 30px;
}

.copy-link-toast {
  width: 100%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 400000;
}

.help-button-container {
  position: absolute;
  left: 14px;
  top: 10px;
}

/* DETAILED VIEW */
.big-chart-container {
  --chart-y-offset: 221.9px;
  margin: 20px 0 40px;
  padding: 0 20px;
  height: calc(100vh - var(--chart-y-offset));
  display: table;
  width: 100%;
}

/* 99 + 20 + 171.54 + 40 */
/* 73 + 32.8 + 20 + 40 + 66.8 */
/* 20 + 40 + 104.74 + 99 */
@media (max-width: 767px) {
  .big-chart-container {
    --chart-y-offset: 263.74px;
    padding: 0 0 0 5px;
  }
  .big-chart-aggregate-container {
    height: calc(100vh - 300.54px);
    padding-right: 5px;
  }
}
