
/* TABS */
.analysis-tab-container {
  display: flex;
}

.analysis-tab-container > button {
  position: relative;
  flex: 1 1 auto;
}

.tab-button:hover {
  transform: scaleY(1.1) !important
}

/* DASHBOARD */
.card {
  height: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #e0e0e0;
  box-shadow:  10px 10px 19px #c7c7c79f, -10px -10px 19px #f9f9f9b0;
}

.chart-small {
  width: 100%;
}

.dashboard-icon {
  width: 30px;
  height: 30px;
}

/* DETAILED VIEW */
/* 139.08 + 16 + 66.8 */
.big-chart-container {
  --chart-y-offset: 221.9px;
  margin: 30px 0 30px;
  padding: 0 20px;
  height: calc(100vh - var(--chart-y-offset));
  display: table;
  width: 100%;
}

@media (max-width: 767px) {
  .big-chart-container {
    --chart-y-offset: 352.58px;
  }
}
