.btn-group {
  display: flex;
  gap: 2px;
  z-index: 40;
}

.selected {
  filter: brightness(110%);
}
.not-selected {
  opacity: 0.6;
}

.chart-type-text {
  text-align: right;
}

@media (max-width: 767px) {
  .chart-title {
    order: -1;
  }
  .toggle-btn-group {
    text-align: center;
  }
  .thumbnail-toggle-btn-group-margins {
    margin: 4px 0 10px;
  }
}

/* @media (min-width: 992px) {
  .toggle-btn-group {

  }
}

@media (min-width: 1200px) {
  .toggle-btn-group {

  }
} */
