body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* STYLING - Move into other files */
* {
  scroll-margin-top: 125.8px;
}

.modal-img {
  border-radius: 8px;
  width: calc(100vw - 32px);
  max-width: 960px;
  height: 100%;
}

@media (max-width: 767px) {
  .modal-img {
    width: 100%;
  }
}

.fill-height {
  height: 100%;
}

.dark-element {
  background-color: #183043 !important;
}

.upload-input {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.upload-btn-disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.modal-dialog, .modal-content {
  background-color: #ffffff00;
}

.unselectable-text {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
