name: Master
on:
  push:
    branches:
      - 'master'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Build and QA and Release
        run: |
          docker-compose up -d
          docker-compose run frontend make -C production/ version package qa release AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
          docker-compose down

      - name: Store Artifact
        uses: actions/upload-artifact@v2
        with:
          name: classdojo-frontend # double zipping issue: https://github.com/actions/upload-artifact/issues/39
          path: production/release/classdojo-frontend.zip

      - name: Deploy
        run: |
          curl \
          -X POST \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: token ${{ secrets.PAT_TOKEN }}" \
          --data '{"ref": "refs/heads/master"}' \
          https://api.github.com/repos/class-dojo/infrastructure/actions/workflows/frontend.yml/dispatches
